:root {
  --main-color: #b8c1ec;
  --accent-color: #232946;
  --secondery-color: #fffffe;
  --primery-color: #eebbc3;
  --secondery-font: "Raleway", sans-serif;
  --main-font: "Poppins", sans-serif;
}
body {
  background-color: var(--accent-color);
  font-family: var(--main-font);
}
.main {
  padding: 200px 120px;
  text-align: left;
  line-height: 2px;
}
.main h1 {
  color: var(--main-color);
  font-family: var(--secondery-font);
  font-size: 80px;
}
.main h2 {
  font-size: 50px;
  color: var(--secondery-color);
  font-family: var(--secondery-font);
}
.main p {
  font-size: 36px;
  font-weight: bold;
  color: var(--secondery-color);
  font-weight: normal;
}
.btn-contact {
  border: solid 2px var(--primery-color);
  color: var(--primery-color);
  padding: 15px 25px;
  font-family: var(--main-font);
  font-size: 20px;
  transition: ease-in-out 0.5s;
}
.btn-contact:hover {
  color: var(--accent-color);
  background-color: var(--primery-color);
}
.Ellipse {
  position: fixed;
  margin-top: 26px;
  margin-left: 765px;
  width: 275px;
  height: 271.57px;
  background: linear-gradient(180deg, #eebbc3 0%, rgba(176, 162, 164, 0) 100%);
  filter: blur(200px);
  transform: rotate(-106.13deg);
}
.Ellipse-two {
  position: fixed;
  margin-top: -670px;
  margin-left: 820px;
  width: 199.24px;
  height: 200.12px;
  background: linear-gradient(180deg, #e1803a 0%, rgba(176, 162, 164, 0) 100%);
  filter: blur(200px);
  transform: rotate(-175.74deg);
}
