:root {
  --main-color: #b8c1ec;
  --accent-color: #232946;
  --secondery-color: #fffffe;
  --primery-color: #eebbc3;
  --secondery-font: "Raleway", sans-serif;
  --main-font: "Poppins", sans-serif;
}
body {
  background-color: var(--accent-color);
  font-family: var(--main-font);
}
.hide-body {
  overflow: hidden;
}
.image-content {
  display: flex;
  justify-content: end;
  margin-top: -50px;
}
.image-content img {
  width: 550px;
}
footer {
  background-color: var(--main-color);
  padding: 40px;
}
footer .contact-box {
  text-align: center;
}
footer .contact-box h4 {
  font-size: 34px;
  color: var(--accent-color);
}
footer .contact-box a {
  font-size: 20px;
  text-decoration: none;
  color: #21252985;
}
footer .contact-box a:hover {
  color: var(--accent-color);
}
.social-media {
  font-size: 28px;
}
.social-media a {
  margin: 40px;
  color: var(--accent-color);
}
.social-media a:hover {
  color: #ee6c4d;
}
/*#region navigation*/
#togglebtn {
  position: absolute;
  top: 25px;
  right: 40px;
  z-index: 2;
  display: flex;
  width: 20px;
  height: 20px;
}
#togglebtn span {
  width: 35px;
  height: 2px;
  background-color: #eebbc3;
  position: absolute;
  display: flex;
  transition: 0.3s;
}
#togglebtn span:nth-child(1) {
  top: 20%;
}
#togglebtn span:nth-child(2) {
  top: 80%;
}
#togglebtn.is-active span {
  background: #eebbc3;
}
#togglebtn.is-active span:nth-child(1) {
  top: 50%;
  transform: rotate(-45deg);
}
#togglebtn.is-active span:nth-child(2) {
  top: 50%;
  transform: rotate(45deg);
}

#menu-overlay.is-active {
  visibility: visible;
}

#menu-overlay {
  font-family: var(--secondery-font);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #8c98d3;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: 0.5s;
}
#menu-overlay ul {
  position: relative;
}
#menu-overlay ul li {
  position: relative;
  display: inline-block;
  text-align: center;
  list-style: none;
}
#menu-overlay ul li a {
  position: relative;
  text-decoration: none;
  font-size: 45px;
  padding: 0px 10px;
  color: var(--secondery-color);
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
}
#menu-overlay ul li a:hover {
  color: var(--accent-color);
}
/*#endregion*/
/*#region Hero*/
.hero {
  padding: 140px 120px;
  text-align: left;
  line-height: 2px;
}
.hero h1 {
  color: var(--main-color);
  font-family: var(--secondery-font);
  font-size: 80px;
}
.hero h2 {
  font-size: 50px;
  color: var(--secondery-color);
  font-family: var(--secondery-font);
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  color: var(--secondery-color);
  font-weight: normal;
}
.btn-contact {
  border: solid 2px var(--primery-color);
  color: var(--primery-color);
  padding: 15px 25px;
  font-family: var(--main-font);
  font-size: 20px;
  transition: ease-in-out 0.5s;
}
.btn-contact:hover {
  color: var(--accent-color);
  background-color: var(--primery-color);
}

/*#endregion main*/
/*#region about me*/

.about-me {
  margin-top: 20px;
}
.about-line {
  background-color: var(--secondery-color);
  height: 2px;
  width: 380px;
}
.about-me p {
  font-family: var(--secondery-font);
  text-transform: uppercase;
  color: var(--secondery-color);
  margin-top: -18px;
  margin-left: 399px;
  font-size: 22px;
}
.about-me .col-5 {
  font-family: var(--secondery-font);
  color: var(--primery-color);
  font-size: 40px;
  text-transform: uppercase;
}
.about-me .col-7 {
  font-size: 20px;
  color: var(--secondery-color);
}
.about-me .row {
  margin-top: 100px;
}
.about-me-link {
  margin-top: 18px;
  color: var(--secondery-color);
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s ease-in-out;
  display: block;
}
.about-me-link:hover {
  color: var(--secondery-color);
}
/*#endregion about me*/
/*#region projects*/
.projects {
  margin-top: 150px;
  margin-bottom: 230px;
}
.projects-line {
  background-color: var(--secondery-color);
  height: 2px;
  width: 380px;
}
.projects p {
  font-family: var(--secondery-font);
  text-transform: uppercase;
  color: var(--secondery-color);
  font-size: 22px;
  margin-top: -13px;
  margin-right: 19px;
}
.projects-images {
  --_spacer: 1rem;
  gap: var(--_spacer);
  padding: 0 var(--_spacer) var(--_spacer);
}

.item {
  position: relative;
  overflow: hidden;
  padding: 0.5rem;
  background-color: #b8c1ec0e;
  border-radius: 2px;
  box-shadow: 5px 8px;
  display: grid;
  gap: var(--_spacer);
}
.projects-img > img {
  inline-size: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}
.item > .project-name {
  position: absolute;
  inset: 0;
  padding: var(--_spacer);
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.item > img,
.item > .project-name {
  transition: 200ms ease-in-out;
}
.item > .project-name.fade {
  opacity: 1;
}
.item:hover > .project-name.fade {
  opacity: 0.6;
}
.gray {
  filter: grayscale(100%);
}
.projects-images a {
  color: var(--accent-color);
}
.project-name h3 {
  line-height: 45px;
}

/*#endregion projects*/

/*#region about me page*/
.content-container h1 {
  color: var(--secondery-color);
  font-family: var(--secondery-font);
  font-size: 48px;
  text-align: center;
}
.content p {
  color: var(--main-color);
  font-size: 24px;
  text-align: center;
  font-weight: normal;
}
.contact-button {
  border: solid 2px var(--primery-color);
  color: var(--primery-color);
  padding: 10px 40px;
  font-family: var(--main-font);
  font-size: 20px;
  transition: ease-in-out 0.5s;
}
.contact-button:hover {
  color: var(--accent-color);
  background-color: var(--primery-color);
}
.profile-img {
  padding: 0px 80px;
  text-align: center;
  margin-top: 150px;
}
.container-fluid {
  width: 100%;
}
.project-container {
  padding: 50px;
}
.project-container h1 {
  color: var(--secondery-color);
  font-size: 36px;
}
.project-container h3 {
  color: var(--accent-color);
  font-size: 32px;
  font-weight: bold;
  font-family: var(--secondery-font);
  text-align: center;
}
.project-container p {
  color: var(--accent-color);
  font-size: 24px;
  padding: 15px 5px;
}
.card-img {
  padding: 35px 35px 0px;
}
.lunch-button {
  background-color: var(--accent-color);
  color: var(--secondery-color);
  padding: 10px 40px;
  font-family: var(--main-font);
  font-size: 20px;
}
.lunch-button:hover {
  color: var(--secondery-color);
}
.content {
  padding: 50px;
}
/*#endregion about me*/

/*#region contact-page*/
.contect-container h3 {
  padding: 110px;
  text-align: center;
  font-size: 60px;
  color: white;
}
.contact-line {
  width: 3px;
  height: 200px;
  background-color: var(--primery-color);
}
.contact-information {
  padding: 20px;

  margin-top: -212px;
  line-height: 3rem;
  font-size: 36px;
}
.contact-information a {
  color: var(--secondery-color);
  text-decoration: none;
}
/*#endregion*/

@media (max-width: 576px) {
  .project-name h3 {
    line-height: 18px;
  }
  #menu-overlay ul {
    padding: 0;
  }
  #menu-overlay ul li a {
    font-size: 45px;
  }
  #menu-overlay ul li {
    display: block;
  }
  .hero {
    padding: 188px 18px;
    text-align: center;
  }
  .hero h1 {
    font-size: 40px;
  }

  .hero h2 {
    font-size: 30px;
  }
  .hero p {
    font-size: 20px;
  }
  .about-line {
    width: 170px;
  }
  .about-me p {
    margin-top: -13px;
    margin-left: 188px;
    font-size: 16px;
  }
  .about-me .col-5 {
    font-size: 25px;
  }
  .about-me .col-7 {
    font-size: 15px;
  }
  .about-me-link {
    font-size: 15px;
  }
  .projects {
    margin-bottom: 160px;
    margin-top: 64px;
  }
  .projects-line {
    width: 160px;
  }
  .projects p {
    font-size: 16px;
    margin-top: -10px;
  }
  .item {
    padding: 0.5rem;
  }
  .item h3 {
    font-size: 15px;
  }
  .projects-images {
    gap: 0px;
  }
  .content-container h1 {
    font-size: 38px;
  }
  .content-container p {
    font-size: 18px;
  }
  .profile-img img {
    border-radius: 50%;
    aspect-ratio: 1/1;
  }
  .profile-img {
    padding: 50px;
    margin-top: 0;
  }
  .content {
    position: relative;
    margin-top: 0px;
  }
  .project-container h1 {
    font-size: 24px;
  }
  .project-container {
    padding: 0 15px;
    margin-top: 0px;
  }
  .contect-container h3 {
    margin: 80px 0px;
    font-size: 28px;
    padding: 0;
    margin-left: -55px;
  }
  .contact-information {
    padding: 10px;
    line-height: 2rem;
    font-size: 22px;
    margin-top: -134px;
  }
  .contact-line {
    height: 140px;
  }
}
@media (max-width: 991px) {
  .image-content {
    justify-content: center;
    margin: 15px;
  }
  #menu-overlay ul {
    padding: 0;
  }
  #menu-overlay ul li {
    display: block;
  }
  .content {
    padding: 0 15px;
    margin-top: 60px;
  }
  .project-container {
    padding: 10px 30px;
  }
}
